<div class="panel panel-default panel-xs shadow" style="margin-bottom: 10px;">
    <div class="panel-body" style="padding: 5px;min-height: 90px" ng-class="{'bg-info': false}">
        <span class="text-primary" style="font-weight: bold" ng-click="" cms-editable-transclude="model.customer">
            {{model.customer.name}}<span style="font-weight: normal">&nbsp;&nbsp;{{model.date | date:'dd-MM'}}</span>
        </span>

        <span class="label label-primary pull-right">{{model.date | date:'dd-MM'}}</span>
        <span class="label label-success pull-right" style="margin-right: 5px;">{{ model.status }}</span>
        <span class="label label-danger pull-right" style="margin-right: 5px;">{{model.sumBrutto | currency}} Euro</span>

        <hr>

        <div style="width: 80%;min-height: 100px;">
            <span ng-repeat="item in model.item">
                <span style="float:left;margin-right: 5px;background-color: #E1ECF4;color: #8835b7;font-size: small;font-weight: 500;padding: 2px;">
                    {{ item.quantity }} x {{ item.product.name }}
                </span>
            </span>
        </div>

        <hr>

        <button class="btn btn-white btn-xs" style="margin-right: 5px;" ng-click="openLieferschein()">Lieferschein</button>
        <button class="btn btn-white btn-xs" ng-click="openRechnung()">Rechnung</button>
    </div>
</div>
