<div class="container-fluid">
    <div class="product">
        <div class="product-img-container" cms-editable-transclude="model.picture">
            <img ng-src="{{model.picture}}" class="product-img center">
        </div>
        <div class="product-content">
            <span class="label label-warning pull-right brand"
                  cms-editable-transclude="model.category"
                  ng-repeat="category in model.category">{{category.name}}</span>
            <span class="label label-info pull-right brand"
                  cms-editable-transclude="model.brand.name">{{model.brand.name}}</span>
            <span class="label label-success pull-right brand"
                  cms-editable-transclude="model.exportVat">{{model.exportVat}} %</span>
            <span class="label label-success pull-right brand"
                  cms-editable-transclude="model.importVat">{{model.importVat}} %</span>

            <span class="label label-primary pull-right brand">{{model.inventory}} {{model.exportUnit.name}}</span>

            <h4 class="product-title small-margin">
                <span cms-editable-transclude="model.name">{{model.name}}&nbsp;</span>
                <span cms-editable-transclude="model.Id">({{model.Id}})</span>
            </h4>

            <hr class="product-hr small-margin">

            <div class="row">
                <div class="col-xs-6">
                    <p class="small-margin product-price" cms-editable-transclude="model.importPrice">
                        Import price: {{model.importPrice}} Euro
                    </p>
                    <p class="small-margin product-price" cms-editable-transclude="model.exportPrice">
                        Export price: {{model.exportPrice}} Euro
                    </p>
                </div>
                <div class="col-xs-6">
                    <div cms-editable-transclude="model.convert">
                        <p class="small-margin" ng-repeat="convert in model.convert">
                        <span class="product-convert">
                            1 {{convert.unit1.name}} = {{convert.quantity}} {{convert.unit2.name}}
                        </span>
                        </p>
                    </div>
                </div>
                <!--<div class="col-xs-4">
                    <button class="btn btn-xs btn-white">adjustment</button>
                </div>-->
            </div>

        </div>
    </div>
</div>